<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .bio{
   
    
  }
  table{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border:solid 2px black;
    background-color:#145374;
    color:white;
            

  }
  h1 {
            text-align: center;
            background-color: #ee6f57;
            border: 3px solid black;
  }
  
</style>

<!-- Toolbar -->
<div class="bio">
  <h1>Personal Bio-Data</h1>
  <table>
    <tr>
      <th>Name:</th>
      <td>VAIBHAV KAUSHIK</td>
    </tr><br>
    <tr>
      <th>RegNo:</th>
      <td>201800459</td>
    </tr><br>
    <tr>
      <th>Email:</th>
      <td>vaibhavk039@gmail.com</td>
    </tr><br>
    <tr>
      <th>ShortBio:</th><br><br><br><br>
      <p>Currently I am pursuing my Btech in computer science from Sikkim manipal insitute of technology.
        Being an upcoming engineer, I would cherish to be at a work place where I get an opportunity to apply 
        my technical skills and add value to organization’s value chain. Thus, I would like to position myself 
        as a part of a team where I can contribute, visualize, innovate and execute new ideas and create something with a monetary and utility value.</p>
    </tr>
    </table>
  
</div>



